body{
    background-color: darkgray;
}

.gameControls {
    margin-top: 15%;
    margin-bottom: 30px;
}

.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.gameBtn {
    border: 2px solid blue;
    width: 15%;
    height: 50px;
    background-color: black;
    color: white;
}

.gameBtn:hover{
    color: green;
    background-color: rgba(255, 255, 255, 0.493);
    cursor: pointer;
    border: 2px solid green;
}
