body{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.125);
}

h2, h3{
    text-align: center;
}

.wrapper{
    text-align: center;
}

.box{
    border: 3px solid black;
    height: 200px;
    width: 400px;
    margin: 10px auto;
}

.button{
    margin-top: 50px;
    border: blue solid 3px;
    color: white;
    background-color: black;
    width: 200px;
    height: 40px;
}

.hearts{
    color: red;
    font-size: 20px;
}

.ascending{
    font-size: 28px;
}

.descending{
    font-size: 28px;
}